{% extends 'secondapp/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet"  href="{% static 'secondapp/style.css' %}">
{% endblock %}

{% block content %}
<h1>
  This is a where you have to insert your Excercises
</h1>
<a href="{% url 'display' %}"> Take me to Data base</a>
<p>Input exercise data here</p>

<form action="" method="post" novalidate>
{% csrf_token %}
{{ form }}
<input type="submit" value="Put in table">
</form>

<!--<form action="/exercise/" method="post">
#    <label for="your_name">Your name: </label>
#    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
#    <input type="submit" value="OK">
#</form>
-->
{% endblock %}
<a href="{% url 'display' %}"> Take me Data base</a>
